ul{ 
    list-style-type: decimal; 
    color: red;
} 
ul ul { 
    list-style-type: lower-latin;
    font-weight: bold; 
    color: green;
} 
ul ul ul{ 
    font-weight: normal; 
    list-style-type: square; 
    color: blue;
}