.container{ 
    width: 100%; 
    display: grid; 
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px;
} 
.item{ 
    border: solid 1px black; 
    background-color: lightgoldenrodyellow; 
    margin: 10px; 
    text-align: center; 
    font-size: 20px; 
    padding: 10px;
} 
.item:nth-child(9){ 
    background-color: lightcoral; 
    grid-column: 4 / span 2;
} 
.item:nth-child(11){ 
    grid-row: 3 / span 4; 
    grid-column: 2; 
    background-color: lightsteelblue; 
} 
.item:nth-child(16){ 
    grid-row: 4/ span 2; 
    grid-column: 3/ span 2; 
    background-color: lightskyblue; 
} 
.item:nth-child(29){ 
    grid-column: 1/ span 4; 
    background-color: sandybrown;
}